:root {
        --primary:
        #268EDD;
        --secondary: #2A9EF5;
        --light: #F2F2F2;
        --dark: #000A44;
        --withoutHover:#535353;
        --withHover : #000000;
}


#navBar , #modalBox {
    background: var(--dark) ;
}

.contactBtn, .heroBtn, .sBtn, .formBtn{
    background: var(--primary);
}

.modaLinks > li > a, #menuBtnClose, .heroContent > h1 , .heroContent > p, .heroBtn, .txtDetails, .sBtn, .sBtn > a, .formBtn, .greetingCard > h2 > span {
    color: var(--light);
}

#menuBtn, .serviceTxt, .collectionTxt, .txt, .productTxt, .CItxt, .greetingCard > h3{
    color: var(--primary);
}

.path{
    fill: var(--withoutHover);
}

.icon{
    background-color: var(--light);
}
#services, #products, #gallery{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, #ECECEC 10.5%, #ECECEC 91%, rgba(255, 255, 255, 0.3) 100%);
    ;
}
.b, .c{
    color: rgb(83, 83, 83, 0.5);
    border-color:  rgb(83, 83, 83, 0.5) ;
    border-top: 3px solid;
}

.a, .cItemTxt, .gcTxt{
    color: var(--dark);
}
.cItemBtn, .productBtn{
    border-color: var(--primary);
    color: var(--primary);
}

.cItemBtn > a, .productBtn > a{
    color: var(--primary);
}

.cardDetails, .contactForm, .carouselBtn, .gcarouselBtn, .tcarouselBtn{
    background-color: var(--dark);
}

.slider, .rights, .greetingCard > h2, .popUpClose{
    color: var(--secondary);
}
.circle.active{
    background-color: var(--withoutHover);
}
#footer{
    background-color: #000625;
       color: var(--light);
}

.rights{
    border-top: 2px solid var(--secondary);
}

.greetingCard{
    background-color:#010f5f;
}
.heroBtn > a{
    color: var(--light);
}

.social-icons :hover{
    fill: var(--primary);
}

.social-icons > img:hover{
    background-color: var(--primary);
}