@media (max-width: 450px){
    .aboutContent, .serviceContent, .collectionContent, .productContent, .CIcontent{
        height: 95%;
        top: 2.5%;
    }
    .sm-Icon > svg, .social-icons > svg, .social-icons > img{
        height: 30px;
    }
    .social-icons > img{
        width: 30px;
    }
    .heroContent > h1{
        text-align: center;
        width: 70%;
    }
    .heroContent{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .carousel__caption{
        font-size: 1em;
    }

    .carouselBox, .tcarouselBox{
        width: 80%;
    }
    .gcTxt, .CItxt{
        justify-content: center;
    }
    .carouselBtn, .tcarouselBtn{
        width: 30px;
        height: 30px;
    }
    .carouselBtn > h2, .tcarouselBtn > h2{  width: 20px;
        height: 20px;
        width: 20px;
        height: 20px;
    }
    .carouselBtn > h2  > svg, .tcarouselBtn > h2 > svg{
        width: 20px;
        height: 20px;
    }
    .carouselBtn--left, .tcarouselBtn--left{
        left: -50px;
    }
    .carouselBtn--right, .tcarouselBtn--right{
        right: -50px;
    }
    .slide__txt{
        font-size: 15px;
    }

    .slide__span > h3{
        line-height: 60px;
        font-size: 25px;
    }
}

@media (max-height: 750px){
    .smBtm{
        margin-top: 20px;
    }
    .smTop{
        margin-top: 15px;
    }
   
    .carousel__image{
        height: 82.5%;
    }
    .carouselBox, .tcarouselBox{
        width: 80%;
    }
    .CItxt{
        justify-content: center;
        height: 25vh;
    }

    .carouselBtn, .tcarouselBtn{
        width: 30px;
        height: 30px;
    }
    .carouselBtn > h2, .tcarouselBtn > h2{  width: 20px;
        height: 20px;
        width: 20px;
        height: 20px;
    }
    .carouselBtn > h2  > svg, .tcarouselBtn > h2 > svg{
        width: 20px;
        height: 20px;
    }
    .carouselBtn--left, .tcarouselBtn--left{
        left: -50px;
    }
    .carouselBtn--right, .tcarouselBtn--right{
        right: -50px;
    }

    

}
@media (max-width: 915px){
    .cards, .cardDetails {
        align-items: center;
        text-align: center;
    }

    .cards{
        padding-top: 5%;
    }

    #carousel, .productCards, .carouselBox{
        height: 80%;
    }

    .txtDetails{
        padding: 0 60px;
    }
    .carouselBox{
        justify-content: space-between;
    }
    .circle{
        top: 96%;
    }
    .fb2{
        display: none;
    }
    .footerBox{
        width: 50%;
    }

    .sBtn{
        width: 100px;
        font-size: 1em;
    }
    .fb1{
        gap: 10%;
    }
    .sm{
        height: 20%;
    }

    .smallfb, .socials{
        width: 100%;
    }
    .s-Icon{
        gap: 10px;
    }
    .fb3 > h3{
        font-size: 1.5em;
    }
    
}


/* Smaller Height Display */
@media only screen and (max-height: 450px) {
    .heroBanner{
        height: 80vh;
    }
    #navBar{
        height: 20vh;
    }

    .heroBtn{
        top: 5px;
    }
    .aboutBox1 > h2, .CItxt, .serviceTxt, .collectionTxt, .productTxt{
        font-size: 1.5em;
    }
    .aboutBox1{
        padding: 0;
    }
    .heroContent{
        top: 50%;
    }

    .shortMenu{
        width: 610px;
    }
    #footer{
        height: 100vh;
    }
    .serviceContent{
        gap: 5px;
    }
    .cards{
        padding-top: 10px;
    }
    .cards > h3{
        font-size: 20px;
    }
    .productBtn{
        height: 20px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }
    .txtDetails > p{
        margin-top: -10px;
    }
    .cItemTxt{
        align-self: flex-start;
        margin-bottom: -2px;
    }
    .cItemBtn{
        align-self: flex-end;
        margin-top: -50px;
    }
    .cItemImg{
        height: 200px;
        margin-top: -30px;
    }
    .carousel__nav{
        height: 10vh;
    }
    .carousel__image{
        height: 80%;
        object-fit: contain;
    }
    .slide__txt > h1{
        margin-top: 15px;
        font-size: 20px;
    }
}


@media (min-width: 452px) and (max-width: 915px){
    .aboutContent, .serviceContent, .collectionContent, .productContent, .CIcontent{
        height: 95%;
        top: 2.5%;
    }

}

@media (min-width: 500px) and (max-width: 915px){
    .shortMenu{
        width: 450px;
    }

    .aboutContent, .serviceContent, .collectionContent, .productContent, .CIcontent{
        height: 95%;
        top: 2.5%;
    }
    .serviceContent, .collectionContent, .productContent, .Cicontent{
        display: flex;
        align-items: center;
    }

    .serviceCardImg, .serviceTxt, .serviceCards, .collectionTxt, .productTxt, .productCards, #carousel, .CItxt, .carouselBox{
        width: 450px;
    }
    .sm-Icon > svg, .social-icons > svg{
        height: 30px;
    }
    .fbimg{
        height: 200px;
    }
    .s-Icon{
        gap: 10px;
    }
    .fb3 > h3{
        font-size: 2em;
    }
    .social-icons > svg{
        height: 50px;
    }
    .sBtn{
        width: 150px;
        font-size: 1.2em;
    }

}
@media (min-width: 916px) and (max-width: 1075px) {
    .navLinks > li > a{
        width: 100%;
    }

    .navLinks > li{
        padding: 0;
    }
}
/* Tablet Display */
@media only screen and  (min-width:916px) {
    #navBar{
        justify-content: space-around;
    }
    #menuBtn{
        display: none;
    }
    .navLinks{
        display:flex;
        text-align: center;
    }

    .heroContent > h1{
        font-size: 3em;
    }

    .heroContent > h1{
        font-size: 3em;
    }
    
    .heroContent > p{
        font-size: 1.3em;
    }

    .aboutContent, .serviceContent, .collectionContent, .productContent, .CIcontent{
        top: 10%;
    }

    .aboutContent{
        justify-content: space-around;
    }

    .aboutBox1{
        height: 80vh;
    }

    .aboutBox1, .aboutBox2{
        width: 48%;
        padding: 20px 0px;
    }

    .aboutBox2{
        display: flex;
    }

    .heroBtn{
        top: 50px;
    }

    .aboutBox1 > h2 {
        font-size: 2.75em;
    }
    
     .box{
        height: 28.9%;
    }

    .shortMenu{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        gap: 6%;
    }

    .cards{
        width: 25%;
    }

    .cardDetails{
        width: 28%;
    }

    .b, .c, .itm, .cd{
        display: flex;
    }     
    .txtDetails{
        font-size: 1em  ;
    }
    .carouselBox{
        height: 98%;
    }
    .carousel__image{
        width: 700px;
        height: 85%;
        align-self: center;
    }
    .carousel__caption{
        font-size: 1.3em;
    }
    .tcarouselBox{
        justify-content: center;
        align-items: center;
    }
    .tcarousel__track-container{
        width: 700px;
    }

    .slide_txt > h1{
        font-weight: 100;
    }
    .slide__span{
        position: absolute;
        top: 65%;
    }
    .slide__span > h3{
        font-size: 40px;
    }

    .slide__span > p{
        font-size: 1.2em;
        line-height: 40px;
    }
    .etherLogo{
        width: 10%;
    }
    #credits > h3{
        font-size: 1.3em;
    }
    .sm-text{
        font-size: 14px;
    }
}


/* Bigger Screen Display */
@media only screen and (min-width: 1500px) {
    .navLinks{
        width: 50%;
    }

    .heroContent{
        left: 20%;
    }

    .heroContent > h1{
        font-size: 5em;
    }

    .aboutContent, .serviceContent, .collectionContent, .productContent, .CIcontent, .testContent
    {
        width: 80%;
        left: 10%;
    }
    .CItxt, .gcTxt{
        width: 100%;
    }
    .CIcontent, .testContent{
        align-items: center;
    }
    .heroBtn{
        width : 170px;
        height : 62px;
        padding : 20px;
        border-radius: 7px;
    }
    .box{
        height: 28.9%;
    }
    .aboutBox2 > .topTxt, .aboutBox2 > .btmTxt {
        font-size: 25px;
    }
    .teamImg{
        width: 80%;
    }

    .serviceContent, .collectionContent, .productContent, .CIcontent, .testContent{
        padding-left: 5%;
        padding-right: 4%;
        gap: 2%;
    }

    .serviceCardImg{
        height: 150vh;
    }

    .fb1{
        align-items: center;
    }
    .carousel__image{
        width: 900px;
        align-self: center;
        height: 90%;
    }
    .carousel__caption{
        font-size: 1.3em;
    }
    .tcarouselBox{
        justify-content: center;
        align-items: center;
    }
    .tcarousel__track-container{
        width: 900px;
    }

    .slide_txt > h1{
        font-weight: 100;
    }

    .slide__span > h3{
        font-size: 40px;
        line-height: 50px;
    }

    .slide__span > p{
        font-size: 1.2em;
    }
}

@media (min-width: 916px) and (max-width: 1500px){
    .productCards{
        gap: 15px;
    }
    .cardDetails{
        width: 50%;
    }

    .fb1{
        align-items: left;
    }
    .smallfb{
        width: 100%;
    }
}

@media (min-width: 1180px){
    .shortMenu{
        width: 510px;
    }

}
